---
import {EMAIL, GITHUB, LINKEDIN} from "../constants";
const personalImageAlt = "Juan Luis"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import GithubIcon from "@/components/icons/GitHub.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"

const yearsOfExperience = new Date().getFullYear() - 2013;
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
                class="rounded-full shadow-lg size-16"
                src="/github.webp"
                alt={personalImageAlt}
        />
        <a
                href={LINKEDIN}
                target="_blank"
                rel="noopener"
                class="flex items-center transition md:justify-center md:hover:scale-105"
        >
        </a>
    </div>
    <h1
            class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hi, I am Juanlu
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:[&_strong]:text-yellow-200 [&_strong]:text-yellow-500 [&_strong]:font-semibold dark:text-gray-300">
        +{yearsOfExperience} years of experience in
        <strong>Computer engineering</strong>. I am from Málaga, Spain.
        Currently working as Domain Architect for <a href="https://saber.tech/"><strong>Saber.Tech</strong></a>.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href={GITHUB}>
            <GithubIcon class="size-4"/>
            Github
        </SocialPill>
        <SocialPill href={LINKEDIN}>
            <LinkedInIcon class="size-4"/>
            LinkedIn
        </SocialPill>
        <SocialPill href={'mailto:' + EMAIL}>
            <MailIcon class="size-4"/>
            Contact me
        </SocialPill>
    </nav>
</div>
